$def with (page)

<html>
<head>
    <title>My Blog</title>
    <style>
        #menu {
            width: 200px;
            float: right;
        }
        h1 {
            text-align:center;
        }
        body {
            margin-left: 250;
        }
        p {
            text-indent:2em;
            width:600px;
        }
    </style>
</head>
<body>

<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/new">New Post</a></li>
</ul>

$:page

</body>
</html>