{% extends base.html %}
{% block title %}About{% end %}
{% block content %}
<article class="page">
    <header>
        <h1 class="title">About</h1>
    </header>
    <div class="entry">
        <div class="about-header">
            <div class="avatar">
                <img src="/static/images/head.jpg" class="nstyle no-fancybox">
            </div>
            <div class="profile">
                <h3>Justfly He</h3>
                <h4>A web developer.</h4>
                <h4>Python / Go / HTML / Javascript.</h4>
            </div>
            <div class="about-social">
                <ul>
                    <li>
                        <a href="https://github.com/imjustfly" title="Follow me on github" target="_blank" class="social github">
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/sdpengfei1018" title="Follow me on twitter" target="_blank" class="social twitter">
                            <span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr>

        <div class="more-about-me">
            <h3>Hi，欢迎光临我的主页！</h3>
            <p>
                我，90年生人，2013年大学毕业，通信工程专业，现在在北京供职，是一名全职的python web开发者。
            </p>
            <p>
                关于技术成长历程：从HTML和CSS开始入门前端，从.NET开始入门编程，开发基于winform和SQLServer的web应用，然后过度到.NET MVC，接触并熟悉MVC ORM概念。之后因为兴趣，学习node.js，MongoDB和python，同时逐渐从Windows转移到Ubuntu Linux。目前工作为python开发，正在自学go，并且对移动应用开发有兴趣，感觉技能树有向球形发展的趋势。
            </p>
            <p>
                对待工作，有完美主义和强迫症倾向，喜欢追求优雅、高效的实现方式，不愿忍受凌乱的代码风格。生活中是一个伪数码控，喜欢数码产品，爱Google也爱Apple。
            </p>
            <p>
                关于缺点：自认为算法是薄弱点，正在有意识加强。
            </p>
            <div class="clearfix"></div>
            <div class="about-updated">
                logged on 2013.07
            </div>
            <div class="douban-book">
                <h4>最近在读的书</h4>
                <script type="text/javascript" src="http://www.douban.com/service/badge/hepengfei/?show=dolist&amp;n=8&amp;columns=8&amp;picsize=medium&amp;hidelogo=yes&amp;hideself=yes&amp;cat=book"></script>
                <div style="">
                </div>
            </div>
        </div>
    </div>
</article>
{% end %}